# SQL

- *KEY*

- Primary key : 
1. this key is unique (cannot repeat/ duplicate)
2. each row
3. 

- foreign key :
1. key that refer to different table

1. Query a database
- can manipulate data within database
- create, or retrieve data from a Db 

2. CRUD operations on Records
    - create
    - read 
    - update 
    - delete

SELECT * FROM Departments

CREATE TABLE Department(   --- create table --> create a new table -- specify table
id		INT,                ----
name	VARCHAR(50)
 )

 ; = its use to tell the computer to stop reading

- in SQL case does not matter 
- spaces do not matter
- terminator is required

- between .. and .. === use for numerical

# sorting with order

     SELECT name, city, hiring_year 
    FROM Employees 
    WHERE hiring_year BETWEEN 2020 and 2025
    order by hiring_year ASC; ---- ascending order  , desc = descending order

# Delete

 -  DELETE from New_employees
 -   WHERE emp_id in (1100,1200,1300)  ---- this code for delete row by row

 -----------------------
 # SQL in python

In [2]:
import sqlite3 as sql

In [3]:
# connect a database
# there is no database, when we create a connection, automatically create it

connection = sql.connect('test.db')

# we need a cursor object to point to erecord in the DB - move througgh the DB
cursor = connection.cursor()

In [4]:
cursor.execute('''
CREATE TABLE students(
    id INT PRIMARY KEY,
    name VARCHAR(10),
    city VARCHAR(10),
    hobby VARCHAR(10)
)
               
''')

OperationalError: table students already exists

In [5]:
connection.commit()

In [6]:
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (6,'Aminuddin','Penang','Swimming' )")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (2,'Aminuddin','Penang','Swimming' )")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (3,'Aminuddin','Penang','Swimming' )")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (4,'Aminuddin','Penang','Swimming' )")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (5,'Aminuddin','Penang','Swimming' )")

In [ ]:
cursor.execute("SELECT * FROM STUDENTS ")
#fetch all results

results = cursor.fetchall()
results

[(6, 'Aminuddin', 'Penang', 'Swimming'),
 (2, 'Aminuddin', 'Penang', 'Swimming'),
 (3, 'Aminuddin', 'Penang', 'Swimming'),
 (4, 'Aminuddin', 'Penang', 'Swimming'),
 (5, 'Aminuddin', 'Penang', 'Swimming')]

: