In [3]:
class Emp:

  def reg(self):
    self.eno=int(input("Enter Employee Number:"))
    self.ename=input("Enter Employee Name:")
    self.esal=float(input("Enter Employee Salary:"))

  def display(self):
    print("Employee Number:",self.eno)
    print("Employee Name:",self.ename)
    print("Employee salary:",self.esal)

In [4]:
#object Creation  ### object name=Class name()
e1=Emp()
e1.reg()

Enter Employee Number:1
Enter Employee Name:Aminuddin
Enter Employee Salary:30000

In [6]:
e1.display()

Employee Number: 1
Employee Name: Aminuddin
Employee salary: 30000.0

In [8]:
e2=Emp()
e3=Emp()
print('Enter Second Employee Details')
e2.reg()
print('Enter Third Employee Details')
e3.reg()

Enter Second Employee Details
Enter Employee Number:2
Enter Employee Name:Nurul
Enter Employee Salary:25000
Enter Third Employee Details
Enter Employee Number:3
Enter Employee Name:Saiful
Enter Employee Salary:20000

In [9]:
print('First Employee Details')
e1.display()
print('Second Employee Details')
e2.display()
print('Third Employee Details')
e3.display()

First Employee Details
Employee Number: 1
Employee Name: Aminuddin
Employee salary: 30000.0
Second Employee Details
Employee Number: 2
Employee Name: Nurul
Employee salary: 25000.0
Third Employee Details
Employee Number: 3
Employee Name: Saiful
Employee salary: 20000.0

                        #################::üç≥üç≥üç≥

* constructor: its special kind of method that is called automatically whenever we will create the object of class
* self: for current object (formula) bukan variable

In [10]:
class Car:
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price
  def display(self):
    print('Car Name:',self.name)
    print('Car Model:',self.model)
    print('Car Price:',self.price)

In [11]:
car1=Car('Hyundai','i20',10000)
car2=Car('Tata','Harrier',20000)
car3=Car('Maruti','Swift',5000)
car4=Car('Honda','City',15000)

In [12]:
print('Third car details')
car3.display()

Third car details
Car Name: Maruti
Car Model: Swift
Car Price: 5000

In [21]:
class Product:
  def __init__(self,id,name,price):
    self.id=id
    self.name=name
    self.price=price

  def __str__(self):
    return f'Id: {self.id}\t Name: {self.name}\t Price: {self.price}'

In [22]:
p1=Product(101,'Pen',10)
p2=Product(102,'Pencil',5)
p3=Product(103,'Tape',7)

In [23]:
print(p1)
print(p2)
print(p3)

Id: 101	 Name: Pen	 Price: 10
Id: 102	 Name: Pencil	 Price: 5
Id: 103	 Name: Tape	 Price: 7

In [24]:
products=[p1,p2,p3]
for p in products:
  print(p)

Id: 101	 Name: Pen	 Price: 10
Id: 102	 Name: Pencil	 Price: 5
Id: 103	 Name: Tape	 Price: 7

In [17]:
class Product:
  def __init__(self,id,name,price):
    self.id=id
    self.name=name
    self.price=price

  # def __str__(self):    #ctrl + k + c = to comment
  #   return f'Id: {self.id}\t Name: {self.name}\t Price: {self.price}'

In [18]:
p1=Product(101,'Pen',10)
p2=Product(102,'Pencil',5)
p3=Product(103,'Tape',7)

In [19]:
print(p1)
print(p2)
print(p3)

<__main__.Product object at 0x7d198d9cbda0>
<__main__.Product object at 0x7d198d9c8f50>
<__main__.Product object at 0x7d198da30d40>

**Day-05   Exercise -01**
* create a class of student , class have following attributes id, name, course, school
* write a list of 5 student and display it.
* please use OOP concept

In [47]:
class Student:
  def __init__(self,id,name,course,school):
    self.id=id
    self.name=name
    self.course=course
    self.school=school
  def __str__(self):
    return f'Student Id: {self.id}\t Student Name: {self.name}\t Student Course: {self.course}\t   School: {self.school}'

In [48]:
s1=Student(1001,'Amin','Syariah','SMKAS')
s2=Student(1002,'Ahmad'  ,'B.arab','SMKIP')
s3=Student(1003,'Aisyah'  ,"Geografi","SMKUH")
s4=Student(1004,'Asiah'  ,'Matematik','SMKIK')
s5=Student(1005,'Asyraf'  ,'P.Am','SMKPA')

In [49]:
print(s1)

Student Id: 1001	 Student Name: Amin	 Student Course: Syariah	   School: SMKAS

In [50]:
all_student=[s1,s2,s3,s4,s5]
for p in all_student:
  print(p)

Student Id: 1001	 Student Name: Amin	 Student Course: Syariah	   School: SMKAS
Student Id: 1002	 Student Name: Ahmad	 Student Course: B.arab	   School: SMKIP
Student Id: 1003	 Student Name: Aisyah	 Student Course: Geografi	   School: SMKUH
Student Id: 1004	 Student Name: Asiah	 Student Course: Matematik	   School: SMKIK
Student Id: 1005	 Student Name: Asyraf	 Student Course: P.Am	   School: SMKPA

**Another Example** ü•†ü•†ü•†

In [83]:
class BankAccount:
  def __init__(self,account_number,account_holder,balance):
    self.account_number = account_number
    self.account_holder = account_holder
    self.balance = balance
    print('Account Created')

  def display_balance(self):
    print(f'Account Balance for {self.account_holder} is {self.balance}') ##### X habis, tgok bwh

In [13]:
class BankAccount:
  def __init__(self,account_number,account_holder,balance):
    self.account_number=account_number
    self.account_holder=account_holder
    self.balance=balance
    print('Account Created')

  def display_balance(self):
    print('Account Balance:',self.balance)

  def deposit(self,amount):
    self.balance+=amount
    print('Amount Deposited')
    print('Current Balance:',self.balance)

  def withdraw(self,amount):
    if self.balance>=amount:
      self.balance-=amount
      print('Amount Withdrawn')
      print('Current Balance:',self.balance)
    else:
      print('Insufficient Balance')

  def __str__(self):
    return f'Account Number: {self.account_number} \t Account Holder: {self.account_holder} \t Balance: {self.balance}'

In [14]:
account1=BankAccount('ACC-1001','Amin',1000000)

Account Created

In [15]:
account2=BankAccount('ACC-1675','Wani',20000)

Account Created

In [16]:
account3=BankAccount('ACC-1344','Pija',30000)

Account Created

In [17]:
print('Account 2 Details')
print(account2)

Account 2 Details
Account Number: ACC-1675 	 Account Holder: Wani 	 Balance: 20000

In [18]:
account3.display_balance()    #objectname.methodname

Account Balance: 30000

In [19]:
account1.display_balance()
account1.deposit(2000)
account1.withdraw(4000)
account1.display_balance()
print(account1)

Account Balance: 1000000
Amount Deposited
Current Balance: 1002000
Amount Withdrawn
Current Balance: 998000
Account Balance: 998000
Account Number: ACC-1001 	 Account Holder: Amin 	 Balance: 998000

In [20]:
print('Account 2 Details: \n',account2)    #### Another Method
account2.deposit(int(input('Enter Amount to deposit: \t')))
account2.withdraw(int(input('Enter Amount to withdraw: \t')))

Account 2 Details:
 Account Number: ACC-1675 	 Account Holder: Wani 	 Balance: 20000
Enter Amount to deposit: 	10000
Amount Deposited
Current Balance: 30000
Enter Amount to withdraw: 	5000
Amount Withdrawn
Current Balance: 25000

In [22]:
print('Account 3 Details: \n',account3)    #### Another Method

d_amount=int(input('Enter Amount to deposit: \t'))
account3.deposit(d_amount)

w_amount=int(input('Enter Amount to withdraw: \t'))
account3.withdraw(w_amount)

Account 3 Details:
 Account Number: ACC-1344 	 Account Holder: Pija 	 Balance: 30000
Enter Amount to deposit: 	10000
Amount Deposited
Current Balance: 40000
Enter Amount to withdraw: 	5000
Amount Withdrawn
Current Balance: 35000