In [ ]:
# def function_name(parameters):
#    code block

In [ ]:
def welcome():
  print('Welcome to functions in Python')

In [ ]:
welcome()

Welcome to functions in Python

In [ ]:
def display(username):
  print(f'Welcome to Python Mr.\\Ms. {username}')

In [ ]:
display('Aminuddin')

Welcome to Python Mr.\Ms. Aminuddin

In [ ]:
name=input('Enter user Name')
display(name)

Enter user Nameaminuddin
Welcome to Python Mr.\Ms. aminuddin

In [ ]:
def add(num1,num2):
  result= num1+num2
  print(f'Result after adding {num1} and {num2} is: \t {result}')

In [ ]:
f_num=int(input('Enter First Number: \t'))
s_num=int(input('Enter Second Number: \t'))
add(f_num,s_num)

Enter First Number: 	20
Enter Second Number: 	10
Result after adding 20 and 10 is: 	 30

Create a function to take username and password from user.
* if username='sam1256' and password='pass@1256' then show sign in success
* else print invalid username or password sign in failed

In [ ]:
name=input('Enter your username')
username='Sam1256'
if username

Sam1256

In [ ]:
def signin(username,password):
  if((username=='sam1256') and(password=='pass@1256')):
    print('Signin Success')
  else:
    print('Invalid username or password Signin Failed')

In [ ]:
username=input('Enter Username:\t')
password=input('Enter Password:\t')
signin(username,password)

Enter Username:	sam1256
Enter Password:	pass@1256
Signin Success

In [ ]:
def multiply(num1,num2):
  result=num1*num2
  return result

In [ ]:
multiply(10,40)

400

In [ ]:
first_number=float(input('Enter First Number:\t'))
second_number=float(input('Enter Second Number:\t'))
result=multiply(first_number,second_number)
print(f'{first_number}X{second_number}=\t{result}')

Enter First Number:	42
Enter Second Number:	12
42.0X12.0=	504.0

In [ ]:
print('10.5*2 Multiplication Result: ',multiply(10.5,2))

10.5*2 Multiplication Result:  21.0

In [ ]:
def add(n1,n2):
  return n1+n2

In [ ]:
def average(n1,n2):
  return (add(n1,n2)/2)

In [ ]:
num1=int(input('Enter First Number:\t'))
num2=int(input('Enter Second Number:\t'))

print(f'Sum of {num1} and {num2} is: ',add(num1,num2))

print(f'Average of {num1} and {num2} is: ',average(num1,num2))

Enter First Number:	45
Enter Second Number:	12
Sum of 45 and 12 is:  57
Average of 45 and 12 is:  28.5

In [ ]:
#Variable Length Arguments
def addition(*args):
  total=0
  print('\n All Numbers are: ')
  for i in args:
    print(i)
    total+=i
  return total

In [ ]:
print('\n Result: ',addition(12,45))
print('\n Result: ',addition(12,45,55,89))
print('\n Result: ',addition(12,45,44,23,78,90))

 All Numbers are:
12
45

 Result:  57

 All Numbers are:
12
45
55
89

 Result:  201

 All Numbers are:
12
45
44
23
78
90

 Result:  292

In [ ]:
def our_function(**kwargs):     #if you want to use combination value and parameter you need to use / ** \  ## (**boleh letak ap2 nama pun)
  for key,value in kwargs.items():
    print(f'{key}={value}')

In [ ]:
our_function(id=1,name='Sam',designation='Manager')

id=1
name=Sam
designation=Manager

In [ ]:
our_function(product_name='Herbal Shampoo', Price=1250.25)

product_name=Herbal Shampoo
Price=1250.25

In [ ]:
def function_two(**kvargs):
  print (kvargs)

In [ ]:
function_two(id=1,name='Sam',designation='Manager')

{'id': 1, 'name': 'Sam', 'designation': 'Manager'}

In [ ]:
#Default arguments
def student_reg(id,name,course='python'):    #Defaults arg must be the last
  print('Student Registration Complete Details as follows')
  print(f'Student Id: {id}')
  print(f'Student Name: {name}')
  print(f'Course: {course}')

In [ ]:
student_reg(1,'Sam')

Student Registration Complete Details as follows
Student Id: 1
Student Name: Sam
Course: python

In [ ]:
student_reg(2,'Amin', 'Data Analyst')

Student Registration Complete Details as follows
Student Id: 2
Student Name: Amin
Course: Data Analyst

Write a function to take a number from user and print the cube and square of given number
* cube of number means number * number * number
* e.g. cube of 2 is 8 and 3 is 27
* square of number means number*number
*e.g square of 2 is 4 & 3 is 9

In [ ]:
def cube(n1,n2,n3):
  return n1*n2*n3

In [ ]:
def square(n1,n2):
  return n1*n2

In [ ]:
num=int(input('Enter your Number:\t'))

print(f'cube of {num} is: ',cube(num,num,num))

Enter your Number:	5
cube of 5 is:  125

In [ ]:
num2=int(input('Enter your Number:\t'))

print(f'square of {num2} is: ',square(num2,num2))

Enter your Number:	9
square of 9 is:  81

In [ ]:
def cube_square(num):
  print('Cube of',num, 'is', num*num*num)
  print(f'Cube of{num} is {num,num,num}')
  print(f'Square of {num} is {num*num}')

In [ ]:
given_number=int(input('Enter a number: \t'))
cube_square(given_number)

Enter a number: 	2
Cube of 2 is 8
Cube of2 is (2, 2, 2)
Square of 2 is 4

In [11]:
#if C convert celcius to Farenheit
#if F convert Farenheit to celcius

def convert_temp(temp,unit='C'):
  if unit=='C':
    return ((temp*9/5)+32)
  elif unit=='F':
    return ((temp-32)*5/9)
  else:
    return 'Invalid Unit , Please use only C or F'

In [12]:
print('32 ¬∞C is equal to', convert_temp(32),'¬∞F')

32 ¬∞C is equal to 89.6 ¬∞F

In [13]:
print('98 ¬∞F is equal to', convert_temp(98,'F'), '¬∞C')

98 ¬∞F is equal to 36.666666666666664 ¬∞C

In [14]:
print('98 ¬∞C is equal to', convert_temp(98,'C'), '¬∞F')

98 ¬∞C is equal to 208.4 ¬∞F

In [15]:
convert_temp(112,'D')

'Invalid Unit , Please use only C or F'

#Create a function to calculate product price after discount on donut, pizza and cakeüç©üçïüéÇ. the default discount a is 5%

In [2]:
def items(price):
  return price1*0.95

In [9]:

item1=input(f'Please put the items: \t')
price=(input(f'Please put the price: \t'))
price=float(price)
price1=price * 0.95
print(f'The original price of {item1} is {price} and after the discount 5% is {price1:.2f}')

The original price of pizza is 45.87 and after the discount 5% is 43.58