In [ ]:
# def function_name(parameters):
#    code block

In [ ]:
def welcome():
  print('Welcome to functions in Python')

In [ ]:
welcome()

Welcome to functions in Python

In [ ]:
def display(username):
  print(f'Welcome to Python Mr.\\Ms. {username}')

In [ ]:
display('Aminuddin')

Welcome to Python Mr.\Ms. Aminuddin

In [ ]:
name=input('Enter user Name')
display(name)

Enter user Nameaminuddin
Welcome to Python Mr.\Ms. aminuddin

In [ ]:
def add(num1,num2):
  result= num1+num2
  print(f'Result after adding {num1} and {num2} is: \t {result}')

In [ ]:
f_num=int(input('Enter First Number: \t'))
s_num=int(input('Enter Second Number: \t'))
add(f_num,s_num)

Enter First Number: 	20
Enter Second Number: 	10
Result after adding 20 and 10 is: 	 30

Create a function to take username and password from user.
* if username='sam1256' and password='pass@1256' then show sign in success
* else print invalid username or password sign in failed

In [ ]:
name=input('Enter your username')
username='Sam1256'
if username

Sam1256

In [ ]:
def signin(username,password):
  if((username=='sam1256') and(password=='pass@1256')):
    print('Signin Success')
  else:
    print('Invalid username or password Signin Failed')

In [ ]:
username=input('Enter Username:\t')
password=input('Enter Password:\t')
signin(username,password)

Enter Username:	sam1256
Enter Password:	pass@1256
Signin Success

In [ ]:
def multiply(num1,num2):
  result=num1*num2
  return result

In [ ]:
multiply(10,40)

400

In [ ]:
first_number=float(input('Enter First Number:\t'))
second_number=float(input('Enter Second Number:\t'))
result=multiply(first_number,second_number)
print(f'{first_number}X{second_number}=\t{result}')

Enter First Number:	42
Enter Second Number:	12
42.0X12.0=	504.0

In [ ]:
print('10.5*2 Multiplication Result: ',multiply(10.5,2))

10.5*2 Multiplication Result:  21.0

In [ ]:
def add(n1,n2):
  return n1+n2

In [ ]:
def average(n1,n2):
  return (add(n1,n2)/2)

In [ ]:
num1=int(input('Enter First Number:\t'))
num2=int(input('Enter Second Number:\t'))

print(f'Sum of {num1} and {num2} is: ',add(num1,num2))

print(f'Average of {num1} and {num2} is: ',average(num1,num2))

Enter First Number:	45
Enter Second Number:	12
Sum of 45 and 12 is:  57
Average of 45 and 12 is:  28.5

In [ ]:
#Variable Length Arguments
def addition(*args):
  total=0
  print('\n All Numbers are: ')
  for i in args:
    print(i)
    total+=i
  return total

In [ ]:
print('\n Result: ',addition(12,45))
print('\n Result: ',addition(12,45,55,89))
print('\n Result: ',addition(12,45,44,23,78,90))

 All Numbers are:
12
45

 Result:  57

 All Numbers are:
12
45
55
89

 Result:  201

 All Numbers are:
12
45
44
23
78
90

 Result:  292

In [ ]:
def our_function(**kwargs):     #if you want to use combination value and parameter you need to use / ** \  ## (**boleh letak ap2 nama pun)
  for key,value in kwargs.items():
    print(f'{key}={value}')

In [ ]:
our_function(id=1,name='Sam',designation='Manager')

id=1
name=Sam
designation=Manager

In [ ]:
our_function(product_name='Herbal Shampoo', Price=1250.25)

product_name=Herbal Shampoo
Price=1250.25

In [ ]:
def function_two(**kvargs):
  print (kvargs)

In [ ]:
function_two(id=1,name='Sam',designation='Manager')

{'id': 1, 'name': 'Sam', 'designation': 'Manager'}

In [ ]:
#Default arguments
def student_reg(id,name,course='python'):    #Defaults arg must be the last
  print('Student Registration Complete Details as follows')
  print(f'Student Id: {id}')
  print(f'Student Name: {name}')
  print(f'Course: {course}')

In [ ]:
student_reg(1,'Sam')

Student Registration Complete Details as follows
Student Id: 1
Student Name: Sam
Course: python

In [ ]:
student_reg(2,'Amin', 'Data Analyst')

Student Registration Complete Details as follows
Student Id: 2
Student Name: Amin
Course: Data Analyst

Write a function to take a number from user and print the cube and square of given number
* cube of number means number * number * number
* e.g. cube of 2 is 8 and 3 is 27
* square of number means number*number
*e.g square of 2 is 4 & 3 is 9

In [ ]:
def cube(n1,n2,n3):
  return n1*n2*n3

In [ ]:
def square(n1,n2):
  return n1*n2

In [ ]:
num=int(input('Enter your Number:\t'))

print(f'cube of {num} is: ',cube(num,num,num))

Enter your Number:	5
cube of 5 is:  125

In [ ]:
num2=int(input('Enter your Number:\t'))

print(f'square of {num2} is: ',square(num2,num2))

Enter your Number:	9
square of 9 is:  81

In [ ]:
def cube_square(num):
  print('Cube of',num, 'is', num*num*num)
  print(f'Cube of{num} is {num,num,num}')
  print(f'Square of {num} is {num*num}')

In [ ]:
given_number=int(input('Enter a number: \t'))
cube_square(given_number)

Enter a number: 	2
Cube of 2 is 8
Cube of2 is (2, 2, 2)
Square of 2 is 4

In [ ]:
#if C convert celcius to Farenheit
#if F convert Farenheit to celcius

def convert_temp(temp,unit='C'):
  if unit=='C':
    return ((temp*9/5)+32)
  elif unit=='F':
    return ((temp-32)*5/9)
  else:
    return 'Invalid Unit , Please use only C or F'

In [ ]:
print('32 Â°C is equal to', convert_temp(32),'Â°F')

32 Â°C is equal to 89.6 Â°F

In [ ]:
print('98 Â°F is equal to', convert_temp(98,'F'), 'Â°C')

98 Â°F is equal to 36.666666666666664 Â°C

In [ ]:
print('98 Â°C is equal to', convert_temp(98,'C'), 'Â°F')

98 Â°C is equal to 208.4 Â°F

In [ ]:
convert_temp(112,'D')

'Invalid Unit , Please use only C or F'

#Create a function to calculate product price after discount on donut, pizza and cakeðŸ©ðŸ•ðŸŽ‚. the default discount a is 5%

In [ ]:
def items(price):
  return price1*0.95

In [1]:
item1=input(f'Please put the items: \t')
price=(input(f'Please put the price: \t'))
price=float(price)
price1=price * 0.95
print(f'The original price of {item1} is {price} and after the discount 5% is {price1:.2f}')

Please put the items: 	pizza
Please put the price: 	23.67
The original price of pizza is 23.67 and after the discount 5% is 22.49

In [3]:
#Ni baru kelia
def calc_price(price,discount=0.05):
  return (price - (price * discount))

In [5]:
pizza_price=50.25
doughnut_price=5
cake_price=125.50
print(f'pizza price {pizza_price} after discount price: {calc_price(pizza_price)}')
print(f'Doughnut price {doughnut_price} after discount price: {calc_price(doughnut_price)}')
print(f'Cake price {cake_price} after discount price: {calc_price(cake_price)}')

pizza price 50.25 after discount price: 47.7375
Doughnut price 5 after discount price: 4.75
Cake price 125.5 after discount price: 119.225

In [10]:
#nk bgi diskaun jika beli item harga lain
def calc_price(price,discount=0.1):
  if (price>=50):
    discount=0.3
  elif(price>=25):
    discount=0.2

  price_after_discount=price-(price*discount)
  return price_after_discount #(price - (price * discount)) =ni pun boleh guna jgak

In [11]:
pizza_price=50.25
doughnut_price=5
small_cake=30
cake_price=125.50
print(f'pizza price {pizza_price} after discount price: {calc_price(pizza_price)}')
print(f'Doughnut price {doughnut_price} after discount price: {calc_price(doughnut_price)}')
print(f'Small Cake price {small_cake} after discount price: {calc_price(small_cake)}')
print(f'Cake price {cake_price} after discount price: {calc_price(cake_price)}')

pizza price 50.25 after discount price: 35.175
Doughnut price 5 after discount price: 4.5
Small Cake price 30 after discount price: 24.0
Cake price 125.5 after discount price: 87.85

In [12]:
def signin(username,password):
  if username=='admin' and password=='admin123':
    print('Signin Success')
  else:
    print('Invalid Credential')
    print('Signin Failed')

In [13]:
signin('admin','admin')

Invalid Credential
Signin Failed

In [15]:
signin('admin','admin123')

Signin Success

In [16]:
#Built in Function ðŸ¥šðŸ¥š

print('Maximum',max(12,34,56,12))

Maximum 56

In [18]:
print('Minimum',min(12,34,56,12))

Minimum 12

**String related Functions:**

In [23]:
#len(): Length of string: number of characters or letters
msg='welcome'
print(f'Length of {msg} is :',len(msg))

Length of welcome is : 7

In [24]:
greet='Hi'
print(f'Length of {greet} is :',len(greet))

Length of Hi is : 2

In [25]:
username='sam    1256'
print(f'Length of {username} is :',len(username))

Length of sam    1256 is : 11

In [28]:
message='AI is the future. Learn practice and earn'
print('Message for you: ',message)

Message for you:  AI is the future. Learn practice and earn

In [29]:
#upper(): convert to uppercase
print('message in uppercase')
print(message.upper())

message in uppercase
AI IS THE FUTURE. LEARN PRACTICE AND EARN

In [30]:
#lower(): convert to lowercase
print('message in lowercase')
print(message.lower())

message in lowercase
ai is the future. learn practice and earn

In [31]:
#Title():first letter of every word is capital
print('message in title case')
print(message.title())

message in title case
Ai Is The Future. Learn Practice And Earn

In [32]:
#capitalize(): first letter is capital, rest is small character
print('message in capitalize case')
print(message.capitalize())

message in capitalize case
Ai is the future. learn practice and earn

In [33]:
greeting='      we welcome you    '

In [34]:
print('Length of greeting',len(greeting))

Length of greeting 24

In [36]:
greeting_without_spaces=greeting.strip()
print(greeting_without_spaces)
print('Length of greeting without spaces',len(greeting_without_spaces))

we welcome you
Length of greeting without spaces 14

In [37]:
greeting_without_spaces=greeting.lstrip()
print(greeting_without_spaces)
print('Length of greeting without left spaces',len(greeting_without_spaces))

we welcome you
Length of greeting without left spaces 18

In [38]:
greeting_without_spaces=greeting.rstrip()
print(greeting_without_spaces)
print('Length of greeting without right spaces',len(greeting_without_spaces))

      we welcome you
Length of greeting without right spaces 20

In [40]:
#str.replace(oldpart,newpart):
print(message)

AI is the future. Learn practice and earn

In [41]:
message=message.replace('AI','Artificial Intelligence')
print(message)

Artificial Intelligence is the future. Learn practice and earn

In [54]:
data='sam,ravi,mithum,ajay,vini,gaurav,si,anil'

In [55]:
#.split():  convert string to list
list_data=data.split(',')
print(list_data)

['sam', 'ravi', 'mithum', 'ajay', 'vini', 'gaurav', 'si', 'anil']

In [56]:
for item in list_data:
  print(item)

sam
ravi
mithum
ajay
vini
gaurav
si
anil

In [57]:
list_data.append('rohit')
list_data.append('zoya')
print(list_data)

['sam', 'ravi', 'mithum', 'ajay', 'vini', 'gaurav', 'si', 'anil', 'rohit', 'zoya']

In [58]:
print('Sort the list and display')
list_data.sort()
print(list_data)

Sort the list and display
['ajay', 'anil', 'gaurav', 'mithum', 'ravi', 'rohit', 'sam', 'si', 'vini', 'zoya']

In [59]:
print('sort the list_data and stored in sorted_list')
sorted_list=sorted(list_data)
print(sorted_list)

sort the list_data and stored in sorted_list
['ajay', 'anil', 'gaurav', 'mithum', 'ravi', 'rohit', 'sam', 'si', 'vini', 'zoya']

In [60]:
# .join(): convert list string
print(sorted_list)

['ajay', 'anil', 'gaurav', 'mithum', 'ravi', 'rohit', 'sam', 'si', 'vini', 'zoya']

In [61]:
print('join the sorted list with -> sign and store inside join_data')
join_data='->'.join(sorted_list)
print(join_data)

join the sorted list with -> sign and store inside join_data
ajay->anil->gaurav->mithum->ravi->rohit->sam->si->vini->zoya

In [65]:
print('join the sorted list with | | sign and store inside join_data')
join_data=' || '.join(sorted_list)
print(join_data)

join the sorted list with | | sign and store inside join_data
ajay || anil || gaurav || mithum || ravi || rohit || sam || si || vini || zoya

In [66]:
print(message)

Artificial Intelligence is the future. Learn practice and earn

In [67]:
print('Number of times t appears: ',message.count('t'))

Number of times t appears:  5

In [68]:
print('Number of times "future" appears: ',message.count('future'))

Number of times "future" appears:  1

In [70]:
print('Number of times "A" appears: ',message.count('A'))

Number of times "A" appears:  1

In [72]:
# str.find()
print(message.find('future'))

31

In [75]:
print('first 31 characters of message')
print(message[:31])   #That we call slicing

first 31 characters of message
Artificial Intelligence is the