**Lambda function**
* lambda functions or Anonymous functions or one liner

In [1]:
add=lambda n1,n2:n1+n2

In [2]:
print(add(12,56))

68

In [ ]:
display=lambda name:print('Welcome to lambda Mr.\\Ms.',name)

In [ ]:
username=input('Enter your name:\t')
display(username)

Enter your name:	Aminuddin
Welcome to lambda Mr.\Ms. Aminuddin

In [8]:
addition=lambda num1,num2:num1+num2

multiplication=lambda num1,num2:num1*num2

division=lambda num1,num2:num1/num2

subtraction=lambda num1,num2:num1-num2

average=lambda num1,num2:(num1+num2)/2

In [11]:
fnum=float(input('Enter first number:\t'))
snum=float(input('Enter second number:\t'))
print(f'Addition of {fnum} and {snum} is {addition(fnum,snum)}')
print(f'Multiplication of {fnum} and {snum} is {multiplication(fnum,snum)}')
print(f'Division of {fnum} and {snum} is {division(fnum,snum)}')
print(f'subtraction of {fnum} and {snum} is {subtraction(fnum,snum)}')
print(f'Average of {fnum} and {snum} is {average(fnum,snum)}')

Enter first number:	55
Enter second number:	10
Addition of 55.0 and 10.0 is 65.0
Multiplication of 55.0 and 10.0 is 550.0
Division of 55.0 and 10.0 is 5.5
subtraction of 55.0 and 10.0 is 45.0
Average of 55.0 and 10.0 is 32.5

In [23]:
#Create function to find out cube number using lambda

cube=lambda num1:num1*num1*num1

In [ ]:
fnum=float(input('Enter first number:\t'))  #int pun boleh
print(f'Cube of {fnum} is {cube(fnum)}')

Enter first number:	4
Cube of 4.0 is 64.0

Exception handling in python

In [25]:
def addition(num1,num2):
  result=num1+num2
  return result

In [ ]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after adding {num1} and {num2} is: ',addition(num1,num2))
except:
  print('Error Occured')

Enter first number: 	34
Enter second number: 	zero
Error Occured

In [27]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after adding {num1} and {num2} is: ',addition(num1,num2))
except:
  print('Error Occured')

Enter first number: 	zero
Error Occured

In [28]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after adding {num1} and {num2} is: ',addition(num1,num2))
except:
  print('Error Occured')

Enter first number: 	34
Enter second number: 	77
Result after adding 34 and 77 is:  111

In [30]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after adding {num1} and {num2} is: ',addition(num1,num2))
except Exception as ex:
  print('Error Occured!!! ',ex)
finally:
  print('End Of program')

Enter first number: 	98
Enter second number: 	plok
Error Occured!!!  invalid literal for int() with base 10: 'plok'
End Of program

In [31]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after adding {num1} and {num2} is: ',addition(num1,num2))
except Exception as ex:
  print('Error Occured!!! ',ex)
finally:
  print('End Of program')

Enter first number: 	123
Enter second number: 	321
Result after adding 123 and 321 is:  444
End Of program

In [34]:
def div(num1,num2):
  result=num1/num2
  return result

In [36]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after dividing {num1} and {num2} is: ',div(num1,num2))
except ZeroDivisionError as ze:
  print('Error Occured!!! Division by zero is not possible, Please put again',ze)
  num2=int(input('Enter second number: \t'))
  print(f'Result after dividing {num1} and {num2} is: ',div(num1,num2))

except Exception as ex:
  print('Error Occured!!! ',ex)
finally:
  print('End Of program')

Enter first number: 	12
Enter second number: 	3
Result after dividing 12 and 3 is:  4.0
End Of program

In [39]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'Result after dividing {num1} and {num2} is: ',div(num1,num2))
except ZeroDivisionError as ze:
  print('Error Occured!!! Division by zero is not possible, ',ze)
  num2=int(input('Enter second number: \t'))
  print(f'Result after dividing {num1} and {num2} is: ',div(num1,num2))

except Exception as ex:
  print('Error Occured!!! ',ex)
finally:
  print('End Of program')

Enter first number: 	24
Enter second number: 	0
Error Occured!!! Division by zero is not possible,  division by zero
Enter second number: 	2
Result after dividing 24 and 2 is:  12.0
End Of program

**Day-4 Exercise -2**

* write a function Take a number from user to convert it to int
* if number in NONE return not given or None
* if its not convertable return conversion failed
* if its fine return int

In [55]:
def user(num1):
  result=int(num1)
  return result

In [ ]:
try:
  num1=int(input('Enter first number: \t'))
  num2=int(input('Enter second number: \t'))
  print(f'{num1} and {num2} is: ',(num1,num2,num3))
except Exception as ex:
  print('Error Occured!!! ',ex)
finally:
  print('End Of program')

In [58]:
try:
  num1=input('Enter first number: \t')
except TypeError as te:
  print('Type Error!!! ',te)
finally:
  print('End Of program')

Enter first number: 	red
End Of program

In [59]:
###########
def to_int(value):
  if value is None or value == "":
    return "Not Given"
  try:
    return int(value)
  except (ValueError,TypeError):
    return "Conversion Failed"

In [60]:
user_input = input("Enter a number: ")
result = to_int(user_input)
print("result:",result)

Enter a number: lamp
result: Conversion Failed

In [61]:
user_input = input("Enter a number: ")
result = to_int(user_input)
print("result:",result)

Enter a number: 33
result: 33