In [ ]:
#List In Python
#Python lists are containers to store a set of values of any data type.
#List items are ordered, changeable, and allow duplicate values
#Denote the list using []

In [6]:
emps=['Sam','Ravi','Si','Vi','Amit',12,45, True, None, 12.45]

In [7]:
print(emps)

['Sam', 'Ravi', 'Si', 'Vi', 'Amit', 12, 45, True, None, 12.45]

In [8]:
#Indexing start from 0 and goes upto -1
#Len=Number of items in list
print('Number of items in list : ',len(emps))

Number of items in list :  10

In [32]:
colors=['Red','Yellow','Green','White','Red','Blue']

In [34]:
print('Number of items in list : ',len(colors))

Number of items in list :  6

In [12]:
print('All Items from Emps')
for item in emps:
  print(item)

All Items from Emps
Sam
Ravi
Si
Vi
Amit
12
45
True
None
12.45

In [14]:
print('All colors')
for color in colors:
  print(color)

All colors
Red
Yellow
Green

In [15]:
print('All Items from Emps')
for x in emps:     # for (boleh letak mcm2 kat tgh tu) in (kena letak point):
  print(x)

All Items from Emps
Sam
Ravi
Si
Vi
Amit
12
45
True
None
12.45

In [122]:
actors=['Salman Khan','Sharukh Khan','Amir Khan','Amitabh','Ranbir Kappor','Vin Diesel','Leo']

In [28]:
print('Number of actors in list are: ',len(actors))
for actor in actors:
  print(actor, )

Number of actors in list are:  7
Salman Khan
Sharukh Khan
Amir Khan
Amitabh
Ranbir Kappor
Vin Diesel
Leo

In [36]:
print('All Colors')
for color in colors:
  print(f'{color} is color and appear : {colors.count(color)} times')

All Colors
Red is color and appear : 2 times
Yellow is color and appear : 1 times
Green is color and appear : 1 times
White is color and appear : 1 times
Red is color and appear : 2 times
Blue is color and appear : 1 times

In [41]:
print('All Colors')
for x in colors:
  print(f'{x} is color and appear : {colors.count(x)} times')

All Colors
Red is color and appear : 2 times
Yellow is color and appear : 1 times
Green is color and appear : 1 times
White is color and appear : 1 times
Red is color and appear : 2 times
Blue is color and appear : 1 times

In [44]:
#Indexing start from 0 and goes upto -1
for i in range(len(actors)):
  print(f'{i}->{actors[i]}')

0->Salman Khan
1->Sharukh Khan
2->Amir Khan
3->Amitabh
4->Ranbir Kappor
5->Vin Diesel
6->Leo

In [45]:
print(actors[5])

Vin Diesel

In [49]:
print('Number of Actors:',len(actors))
for (i,actor) in enumerate(actors):
  print(f'{i+1}. {actor}')

Number of Actors: 7
1. Salman Khan
2. Sharukh Khan
3. Amir Khan
4. Amitabh
5. Ranbir Kappor
6. Vin Diesel
7. Leo

In [56]:
print('Number of Actors:',len(actors))
for i in range(len(actors)):
  print(f'{i+1}. {actors[i]}')

Number of Actors: 7
1. Salman Khan
2. Sharukh Khan
3. Amir Khan
4. Amitabh
5. Ranbir Kappor
6. Vin Diesel
7. Leo

Create a list of cars using following brands bmw, tesla, honda, proton, toyota, tata
* display show the list like following
* 1->bmw
* 2->tesla

In [74]:
cars=('bmw', 'tesla', 'honda', 'proton', 'toyota', 'tata')

In [75]:
print('List of cars:',len(cars))
for (i,cars) in enumerate(cars):
  print(f'{i+1}->{cars}')

List of cars: 6
1->bmw
2->tesla
3->honda
4->proton
5->toyota
6->tata

In [80]:
#Last item from list
print('last actor from actors: ',actors[-1])

last actor from actors:  Leo

In [121]:
print(actors)

[]

In [82]:
#List slicing
print(actors[1:4])

['Sharukh Khan', 'Amir Khan', 'Amitabh']

In [84]:
print('First Three actors')
print(actors[:3])

First Three actors
['Salman Khan', 'Sharukh Khan', 'Amir Khan']

In [92]:
print('Last Three actors')
print(actors[-3:])

Last Three actors
['Ranbir Kappor', 'Vin Diesel', 'Leo']

In [114]:
actors.append('Leo')

In [115]:
actors.append('Manoj Kumar')

In [ ]:
#pop() to remove item from end of the list

In [112]:

print('Add an actor at the end of list')
actors.pop()

Add an actor at the end of list

'Leo'

In [116]:
print(actors)

['Salman Khan', 'Sharukh Khan', 'Amir Khan', 'Amitabh', 'Ranbir Kappor', 'Vin Diesel', 'Leo', 'Manoj Kumar']

In [117]:
print('insert actor after 3rd position')
actors.insert(3,'Rajnikanth')

insert actor after 3rd position

In [118]:
print(actors)

['Salman Khan', 'Sharukh Khan', 'Amir Khan', 'Rajnikanth', 'Amitabh', 'Ranbir Kappor', 'Vin Diesel', 'Leo', 'Manoj Kumar']

In [119]:
#Delete all items
actors.clear()

In [123]:
print(actors)

['Salman Khan', 'Sharukh Khan', 'Amir Khan', 'Amitabh', 'Ranbir Kappor', 'Vin Diesel', 'Leo']

In [124]:
actors.sort()
print("List after sorting")
print(actors)

List after sorting
['Amir Khan', 'Amitabh', 'Leo', 'Ranbir Kappor', 'Salman Khan', 'Sharukh Khan', 'Vin Diesel']

In [125]:
actors.reverse()
print('List after reverse: ')
print(actors)

List after reverse:
['Vin Diesel', 'Sharukh Khan', 'Salman Khan', 'Ranbir Kappor', 'Leo', 'Amitabh', 'Amir Khan']

In [126]:
list_numbers=[100,200,300,400,500]

In [127]:
print('Number of items in list: \t',len(list_numbers))
print('Maximum number in list: \t',max(list_numbers))
print('Minimum number in list: \t',min(list_numbers))
print('Sum of number in list: \t',sum(list_numbers))

Number of items in list: 	 5
Maximum number in list: 	 500
Minimum number in list: 	 100
Sum of number in list: 	 1500

In [129]:
for (i,num) in enumerate(list_numbers):
  print(f'{i+1}. {num}')

1. 100
2. 200
3. 300
4. 400
5. 500

In [135]:
# add item at the end of list
list_numbers.append(150)

In [136]:
print(list_numbers)

[100, 200, 300, 400, 500, 150]

In [137]:
list_numbers.insert(2,250)

In [138]:
print(list_numbers)

[100, 200, 250, 300, 400, 500, 150]

In [139]:
list_numbers.pop()

150

In [140]:
list_numbers

[100, 200, 250, 300, 400, 500]

In [142]:
list_numbers.remove(300)

ValueError: list.remove(x): x not in list

In [143]:
list_numbers

[100, 200, 250, 400, 500]

In [150]:
shopping_cart=[]

In [151]:
choice='y'
while(choice=='y'):
  item=input('Enter item to add in cart: ')
  shopping_cart.append(item)
  choice=(input('Do you want to add more items? (y/n): ')).lower()

print('Your shopping cart contains: ')
for item in shopping_cart:
  print(item)

Enter item to add in cart: jambu
Do you want to add more items? (y/n): y
Enter item to add in cart: pelam
Do you want to add more items? (y/n): y
Enter item to add in cart: durian
Do you want to add more items? (y/n): n
Your shopping cart contains:
jambu
pelam
durian