**Tuple: is an ordered immutable collection of items**
* we use() to denote tuple

In [1]:
numbers=(100,130,100,230,400,500,100)

In [6]:
print('Number of items in tuple are: ',len(numbers))

Number of items in tuple are:  7

In [5]:
print('All items in tuple')
for items in numbers:
  print(items,end= '\t')

All items in tuple
100	130	100	230	400	500	100

In [7]:
for (index,num) in enumerate(numbers):
  print (index,num)

0 100
1 130
2 100
3 230
4 400
5 500
6 100

In [24]:
# A collection of employees using tople(id)
employees=((1,'Sam',5500,'Manager'),(2,'Raj',4200,'Developer'),(3,'Ravi',3500,'Developer'),(4,'Amit',3500,'Developer'),(5,'Vini',2500,'Tester'),(6,'Deep',5500,'HR'),(7,'Rohan',2600,'Tester'))

In [25]:
for emp in employees:
  print (emp)

(1, 'Sam', 5500, 'Manager')
(2, 'Raj', 4200, 'Developer')
(3, 'Ravi', 3500, 'Developer')
(4, 'Amit', 3500, 'Developer')
(5, 'Vini', 2500, 'Tester')
(6, 'Deep', 5500, 'HR')
(7, 'Rohan', 2600, 'Tester')

In [27]:
for emp in employees:
  print(f'ID:{emp[0]} \t Name: {emp[1]} \t Salary: {emp[2]} \t Designation: {emp[3]}')

ID:1 	 Name: Sam 	 Salary: 5500 	 Designation: Manager
ID:2 	 Name: Raj 	 Salary: 4200 	 Designation: Developer
ID:3 	 Name: Ravi 	 Salary: 3500 	 Designation: Developer
ID:4 	 Name: Amit 	 Salary: 3500 	 Designation: Developer
ID:5 	 Name: Vini 	 Salary: 2500 	 Designation: Tester
ID:6 	 Name: Deep 	 Salary: 5500 	 Designation: HR
ID:7 	 Name: Rohan 	 Salary: 2600 	 Designation: Tester

* Write a bank transaction record using Tuple
1. Saved 3 Transaction
2. Transaction Content: TransactionID, Name, Amount,Date,Type
* e.g. TXN-001,Sam,3500.45, 2025-11-25, phone banking
3. show stored data

In [37]:
x=('TXN-001','Sam',3500.45,'2025-11-25','Phone Banking'),('TXN-002','Amin',4500.50,'2025-12-21','Website')

In [38]:
for y in x:
  print (y)

('TXN-001', 'Sam', 3500.45, '2025-11-25', 'Phone Banking')
('TXN-002', 'Amin', 4500.5, '2025-12-21', 'Website')

In [40]:
print('Bank Transactions')
for y in x:
  print(f'TransactionID: {y[0]} \t Name: {y[1]} \t Amount: {y[2]} \t Date: {y[3]} \t Type: {y[4]}')

Bank Transactions
TransactionID: TXN-001 	 Name: Sam 	 Amount: 3500.45 	 Date: 2025-11-25 	 Type: Phone Banking
TransactionID: TXN-002 	 Name: Amin 	 Amount: 4500.5 	 Date: 2025-12-21 	 Type: Website

In [42]:
for y in x:
  tr_id=y[0]
  tr_name=y[1]
  tr_amount=y[2]
  tr_date=y[3]
  tr_type=y[4]
  print(tr_amount)

3500.45
4500.5

**set** âœˆ
* set is an unordered collection of unique **(duplicate not allow)** items, its mutable,
* we denote set by {}

In [52]:
our_first_set={100,200,300,400,500}
print(our_first_set)

{400, 100, 500, 200, 300}

In [55]:
second_set={'ac','cooler','fan','washing machine','ac','fan','fridge'}
print(second_set)

{'ac', 'washing machine', 'cooler', 'fridge', 'fan'}

In [57]:
print('Number of items in second set : ',len(second_set))

Number of items in second set :  5

In [58]:
second_set.remove('fan')
print('Set after removing fan: Number of items are: ',len(second_set))
print(second_set)

Set after removing fan: Number of items are:  4
{'ac', 'washing machine', 'cooler', 'fridge'}

In [59]:
second_set.add('mobile')
print('Set after add mobile: Number of items are: ',len(second_set))
print(second_set)

Set after add mobile: Number of items are:  5
{'ac', 'mobile', 'washing machine', 'cooler', 'fridge'}

In [61]:
second_set.clear()
print('Set after clearing all items: Number of items are: ',len(second_set))
print(second_set)

Set after clearing all items: Number of items are:  0
set()

In [69]:
set_one={10,20,30,40,50}
set_two={5,10,15,20,25,30,35,40}

In [70]:
print('Number of items in set_one',len(set_one))
print('Number of items in set_two',len(set_two))
common=set_one.intersection(set_two)
print('Common items in both sets: ',common)

Number of items in set_one 5
Number of items in set_two 8
Common items in both sets:  {40, 10, 20, 30}

In [71]:
all_items=set_one.union(set_two) # .union segala benda yang x duplicate
print('All items in both sets: ',all_items)

All items in both sets:  {35, 5, 40, 10, 15, 50, 20, 25, 30}

In [75]:
diff_items=set_two.difference(set_one) # .difference ... benda yang x sama or x berulang
print('items in set_one but not in set_two',diff_items)

items in set_one but not in set_two {25, 35, 5, 15}

In [77]:
course_one={'Python','Power BI','Excel','SQL','Time Management','Soft Skill'}

In [80]:
course_two={'Python','Excel','SQL','Soft Skill','Azure','GitHub','Tensorflow'}

In [85]:
print('Number of items in course_two: ',len(course_two))
for item in course_two:
  print(item)

Number of items in course_two:  7
SQL
Tensorflow
Soft Skill
GitHub
Azure
Excel
Python

In [81]:
print('Number of items in course_one: ',len(course_one))
for item in course_one:
  print(item)

Number of items in course_one:  6
SQL
Time Management
Soft Skill
Excel
Python
Power BI

In [84]:
print('Number of items in set_one',len(course_one))
print('Number of items in set_two',len(course_two))
common=course_one.intersection(course_two)
print('Common items in both sets: ',common)

Number of items in set_one 6
Number of items in set_two 7
Common items in both sets:  {'SQL', 'Excel', 'Soft Skill', 'Python'}

In [88]:
both_courses=course_one.union(course_two)
print('Number of topics in both courses: ',len(both_courses))
print('Topics in both courses: ',both_courses)

Number of topics in both courses:  9
Topics in both courses:  {'Time Management', 'Soft Skill', 'GitHub', 'Excel', 'Python', 'Power BI', 'SQL', 'Tensorflow', 'Azure'}

In [89]:
course_one_diff=course_one.difference(course_two)
print('Topics in course_one but not in course_two: ',len(course_one_diff))
print('Topics in course_one but not in course_two: ',course_one_diff)

Topics in course_one but not in course_two:  2
Topics in course_one but not in course_two:  {'Time Management', 'Power BI'}