Data :
* Qualitative -
    things, and their attributes

* quantitatives -
    sizes of quantities

* table, something like columns,
    row - stores data in numbers

*Two things:

-

Mean - Add all input

In [10]:
math = 50 + 47 + 51 + 49 +47

mean = math / 5
mean

48.8

In [8]:
numbers = [50,47,51,49,47]
mean = sum(numbers) /len(numbers)
mean

48.8

Median  = 
1. sort the numbers
2. targetted the middle number

In [33]:
nums = [20, 5, 50,60, 130, 80]
nums.sort()
print(nums)

mean = sum(nums) /len(nums)
print('Mean of the list: \t',mean)

#if the length is odd
median = nums[len(nums)//2]
print(median)

#if length is even
median= (nums[len(nums)//2] + nums[(len(nums)//2) + 1]) /2
print(median)

[5, 20, 50, 60, 80, 130]
Mean of the list: 	 57.5
60
70.0

Explore how to sort a list manually

* create a program, that takes a list, and returns a sorted list
* only allowed to google, when you have struggled at least 1 hours

In [1]:
mylist = [64, 34, 25, 12, 22, 11, 90, 5]

n = len(mylist)
for i in range(n-1):
  for j in range(n-i-1):
    if mylist[j] > mylist[j+1]:
      mylist[j], mylist[j+1] = mylist[j+1], mylist[j]

print(mylist)

[5, 11, 12, 22, 25, 34, 64, 90]

In [42]:
nums = [20, 5, 60,100, 130, 80]
nums.sort()
print(nums)

mean = sum(nums) /len(nums)
print('Mean of the list: \t',mean)

if len(nums)%2 ==0:
#if the length is odd
    median= (nums[len(nums)//2] + nums[(len(nums)//2) -1]) /2
    print('Median of the: \t', median)

else:
#if length is even
    median = nums[len(nums)//2]
    print('Median of the: \t', median)

[5, 20, 60, 80, 100, 130]
Mean of the list: 	 65.83333333333333
Median of the: 	 70.0

In [47]:
import pandas as pd

In [48]:
iris = pd.read_csv('iris.csv')
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [61]:
#aggregate
df = iris[['sepal_length'	,'sepal_width'	,'petal_length',	'petal_width']]
print('the mean is: ',df.mean())
print('the median is: ',df.median())
print('the mode is: ',df.mode())    # Mode is number most repeated 
print('Std Dev',df.std())
print('Variance',df.var())

the mean is:  sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64
the median is:  sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64
the mode is:     sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.0           1.5          0.2
Std Dev sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64
Variance sepal_length    0.685694
sepal_width     0.188004
petal_length    3.113179
petal_width     0.582414
dtype: float64

In [62]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [54]:
iris.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.5          0.2      setosa
1           NaN          NaN           NaN          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

In [ ]:
x = {
    'a': [1,2,3,4,5,6,7,8],
    'b': [3,3,3,4,4,6,4,7]
}
xdf = pd.DataFrame(x)
xdf['b'].mode()

0    3
1    4
Name: b, dtype: int64

In [58]:
print(xdf['b'].mode())
print(xdf['b'].std())
print(xdf['b'].var())

0    4
Name: b, dtype: int64
1.5118578920369088
2.2857142857142856

***Spread of Data***

- variance
- standart deviation

mean ----> variance

In [69]:
import numpy as np

In [71]:
numbers = np.array([5,20,50,80,130])
numbers

array([  5,  20,  50,  80, 130])

In [85]:
numbers2 = np.array([50,47,51,49,47])
numbers2

array([50, 47, 51, 49, 47])

In [86]:
mean = sum(numbers2) /len(numbers2)
mean

np.float64(48.8)

In [75]:
numbers.var()

np.float64(1996.0)

In [83]:
mean = sum(numbers) /len(numbers)
mean

#sumofdifferences = np.array([((numbers-mean)**2)])
#variance = (sumofdifferences.sum())/len(numbers)
#variance

np.float64(57.0)

In [90]:
mean1 = sum(numbers) /len(numbers)
mean1
variance = sum(((numbers-mean1)**2)) /len(numbers)  ### This method also can use
variance

np.float64(1996.0)

In [91]:
variance2 = sum(((numbers2-mean)**2)) /len(numbers2)  ### This method also can use
variance2

np.float64(2.5599999999999996)

In [63]:
numbers = [5,20,50,80,130]
mean = sum(numbers) /len(numbers)
mean

57.0

In [ ]:
variance = ((numbers-mean)**2 + )

In [93]:
std = variance**0.5
std2 = variance2**0.5

print(std ,'\t', std2 )

44.67661580737735 	 1.5999999999999999