if(condition):
    #code block it will execute if condition true
esle:
     #

In [1]:
age=int(input('Enter your age '))
if(age>=18):
  print('you are eligible to vote')
else:
  print('you are not eligible to vote')

print('you age is ',age)

Enter your age27
you are eligible to vote
you age is  27

In [ ]:
# ask the user to enter marks
# if marks greateer that 50 then show: Congrats you have Cleared the Exam
# else show ' sorry but you have failed in Exam

In [6]:
marks=int(input('Enter your marks '))
if(marks>50):
  print('Congrats you have Cleared the Exam')
else:
  print('sorry but you have failed in Exam')

print('you marks is ',marks)

Enter your marks 51
Congrats you have Cleared the Exam
you marks is  51

In [15]:
mark_percentage=float(input('Enter your percentage with out % :\t'))

if(mark_percentage>90):
  grade='A'
elif(mark_percentage>70):
  grade='B'
elif(mark_percentage>50):
  grade='C'
elif(mark_percentage>40):
  grade='D'
else:
  grade='F'

print(f'your grade is {grade} marks {mark_percentage} %')

Enter your percentage with out % :	67
your grade is C marks 67.0 %

In [27]:
number=int(input('Enter number from user '))

if(number>0):
  print(f'Number: {number} positive')
elif(number<0):
  print(f'Number: {number} negative')
else:
  print(f'Number: {number} Zero')

Enter number from user -6
Number: -6 negative

In [31]:
# Loop:for,while (repetitive task)
for num in range (10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [32]:
for num in range (10):
  print(num,end=' ')

0 1 2 3 4 5 6 7 8 9

In [34]:
for num in range(1,11):
  print(num,end=' ')

1 2 3 4 5 6 7 8 9 10

In [36]:
#Range (start,stop,step)
for num in range(0,11,2):
  print(num,end='\t')

0	2	4	6	8	10

In [38]:
for num in range(0,100,5):
  print(num,end='\t')

0	5	10	15	20	25	30	35	40	45	50	55	60	65	70	75	80	85	90	95

In [44]:
given_number=int(input('Enter number to find out timetable of number: \t'))
print(f'Timetable of {given_number}')
for num in range (1,11):
  print(f'{given_number} x {num} = {given_number*num}')

Enter number to find out timetable of number: 	11
Timetable of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [45]:
list_cars=['Honda city','Toyota','BMW','Tesla','Audi']

In [46]:
print('All cars in list as follows!!!')
for car in list_cars:
  print(car)

All cars in list as follows!!!
Honda city
Toyota
BMW
Tesla
Audi

In [56]:
print('All cars in list as follows!!!')
for car in list_cars:
  print(car,end=', ')

All cars in list as follows!!!
Honda city, Toyota, BMW, Tesla, Audi,

In [57]:
#while(condition):
  #code block

num=10
while(num>0):
  print(num,end='\t')
  num -=1   #num=num-1

10	9	8	7	6	5	4	3	2	1

In [58]:
num=1
while(num<=100):
  print(num,end='\t')
  num+=1
print('\n End Of Loop')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100
 End Of Loop

In [65]:
#continue: skip that particular iteration and loop will continue after that
for i in range(1,100):
  if(i%2==0):
    continue

  print(i,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [68]:
#break:it will breakdown the loop
for i in range(1,100):
  if(i%20==0):
    break

  print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19

In [69]:
choice='y'
while(choice=='y'):
  given_number=int(input('Enter number to find out timetable of number: \t'))
  print(f'Timetable of {given_number}')
  for num in range (1,11):
    print(f'{given_number} x {num} = {given_number*num}')
  choice=input('Do you want to continue (y/n):\t').lower() # .lower()= for lowercase letters output

Enter number to find out timetable of number: 	4
Timetable of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Do you want to continue (y/n):	y
Enter number to find out timetable of number: 	2
Timetable of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Do you want to continue (y/n):	n

In [73]:
# assignment operator =e.g. username=sam1234
# equal == e.g. if(number==5)
atm_pin=7654
allowed_attemps=3
no_attempts=0

while(allowed_attemps!=0):
  user_pin=int(input('Enter your pin:\t'))
  if(user_pin==atm_pin):
    print('Welcome to ATM')
    break

  else:
    allowed_attemps-=1
    no_attempts+=1

    if(allowed_attemps==0):
      print('Your card has been blocked')
    else:
      print('Wrong Pin Try Again')

Enter your pin:	5555
Wrong Pin Try Again
Enter your pin:	4321
Wrong Pin Try Again
Enter your pin:	7654
Welcome to ATM

**exercise**

write a number game to find out hidden number between (1 to 10).

*   ask the user to guess the hidden number
*   note: hidden number is 7
*   if he entered number less than 7 show too low
*   if he entered number more than 7 show too high
*   if he entered correct number show correct answer
    You have won and end the loop
    only 3 attempts are allowed
    if he have not guess within 3 attempts show you have lost your attempts

In [76]:
hidden_number=7
allowed_attemps=3
no_attempts=0

while(allowed_attemps!=0):
  number=int(input('Enter hidden number:\t'))
  if(number==hidden_number):
    print('You have won and end the loop')
    break

  else:
    allowed_attemps-=1
    no_attempts+=1

  if(allowed_attemps==0):
    print('you have lost your attempts')
  if(number<7):
    print('too low')
  if(number>7):
    print('too high')

Enter hidden number:	2
too low
Enter hidden number:	9
too high
Enter hidden number:	7
You have won and end the loop