**Python introduction**

In [1]:
print('Welcome to Python')

Welcome to Python

In [2]:
print('First Example in Python')

First Example in Python

In [4]:
#input example
username=input('Enter username:')
print('Welcome Mr. \\Ms.:' + username)

Enter username:Amin
Welcome Mr. \Ms.:Amin

In [5]:
num1=12
num2=13
result=num1+num2
print (result)

25

In [9]:
#Fucntion of F
print(f'First Number {num1} and Second Number {num2} Result: {result}')

First Number 12 and Second Number 13 Result: 25

In [7]:
print('First Number {num1} and Second Number {num2} Result {result}')

First Number {num1} and Second Number {num2} Result {result}

In [11]:
#Funtion of 'int' untuk tambah kedua2 number, '\t' untuk tab selang yg banyak
fnum=int(input('Enter First Number'))
snum=int(input('Enter Second Number'))
result=fnum+snum
print(f'Result after adding {fnum} and {snum} is = \t {result}')

Enter First Number20
Enter Second Number30
Result after adding 20 and 30 is = 	 50

In [16]:
first_name='Muhammad'
last_name='Aminuddin'
full_name=first_name+' '+last_name
print(full_name)

Muhammad Aminuddin

In [17]:
type(full_name)

str

In [21]:
num=12
print(num)
type(num)
print(f'Type of fnum {type(fnum)} and snum {type(snum)}')

12
Type of fnum <class 'float'> and snum <class 'float'>

In [23]:
#Funtion 'float' untuk decimal, '\t' untuk tab selang yg banyak
fnum=float(input('Enter First Number: \t'))
snum=float(input('Enter Second Number: \t'))
result=fnum+snum
print(f'Result after adding {fnum} and {snum} is = \t {result}')

Enter First Number: 	13.34
Enter Second Number: 	11.12
Result after adding 13.34 and 11.12 is = 	 24.46

In [24]:
#boolean or bool
is_active=True
type(is_active)

bool

In [26]:
is_active=False
type(is_active)

bool

In [27]:
print('Is Active User?',is_active)

Is Active User? False

In [30]:
print(f'Is active User? {is_active}')

Is active User? False

In [32]:
# complex type
complex_num=2+3j
print(complex_num)
type(complex_num)

(2+3j)

complex

In [34]:
#Sqeuence Type
#list []
list_ex=[1,2,3,4,5]
print(list_ex)
type(list_ex)

[1, 2, 3, 4, 5]

list

In [37]:
cars=['Toyota', 'Hyundai', 'BMW', 'Tesla', 'Audi']
print(cars)
type(cars)

['Toyota', 'Hyundai', 'BMW', 'Tesla', 'Audi']

list

In [39]:
# Tuple ()
tuple_ex=(10, 30, 50, 70, 90)
print(tuple_ex)
type(tuple_ex)

(10, 30, 50, 70, 90)

tuple

In [42]:
#set {}
set_ex={10, 20, 30, 40, 50}
print(set_ex)
type(set_ex)

{50, 20, 40, 10, 30}

set

In [40]:
# range
range_ex=range(10)
print(range_ex)
type(range_ex)

range(0, 10)

range

In [41]:
range_ex2=range(5)
print(range_ex2)
type(range_ex2)

range(0, 5)

range

In [43]:
#Dictionary
emp={
    "id":1,
    "name":"Aminuddin",
    "salary":15000.56
}
print(emp)
type(emp)

{'id': 1, 'name': 'Aminuddin', 'salary': 15000.56}

dict