In [2]:
import pandas as pd
df = pd.DataFrame({
   'A': ['alpha', 'apple', 'arsenic', 'angel', 'android'],
   'B': [1, 2, 3, 4, 5],
   'C': ['coconut', 'curse', 'cassava', 'cuckoo', 'clarinet'],
   'D': [6, 7, 8, 9, 10]
   },
   index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4'])
df

             A  B         C   D
row_0    alpha  1   coconut   6
row_1    apple  2     curse   7
row_2  arsenic  3   cassava   8
row_3    angel  4    cuckoo   9
row_4  android  5  clarinet  10

In [3]:
print(df.loc['row_1'])

A    apple
B        2
C    curse
D        7
Name: row_1, dtype: object

In [4]:
df.loc[['row_1']]

           A  B      C  D
row_1  apple  2  curse  7

In [5]:
print(df.loc[['row_2', 'row_4']])

             A  B         C   D
row_2  arsenic  3   cassava   8
row_4  android  5  clarinet  10

In [6]:
print(df.loc['row_0':'row_3'])

             A  B        C  D
row_0    alpha  1  coconut  6
row_1    apple  2    curse  7
row_2  arsenic  3  cassava  8
row_3    angel  4   cuckoo  9

In [7]:
print(df)
print()
print(df.iloc[1])

             A  B         C   D
row_0    alpha  1   coconut   6
row_1    apple  2     curse   7
row_2  arsenic  3   cassava   8
row_3    angel  4    cuckoo   9
row_4  android  5  clarinet  10

A    apple
B        2
C    curse
D        7
Name: row_1, dtype: object

In [8]:
print(df.iloc[[1]])

           A  B      C  D
row_1  apple  2  curse  7

In [9]:
print(df.iloc[[0, 2, 4]])

             A  B         C   D
row_0    alpha  1   coconut   6
row_2  arsenic  3   cassava   8
row_4  android  5  clarinet  10

In [10]:
print(df.iloc[0:3])

             A  B        C  D
row_0    alpha  1  coconut  6
row_1    apple  2    curse  7
row_2  arsenic  3  cassava  8

In [11]:
print(df['C'])

row_0     coconut
row_1       curse
row_2     cassava
row_3      cuckoo
row_4    clarinet
Name: C, dtype: object

In [12]:
print(df[['A', 'C']])

             A         C
row_0    alpha   coconut
row_1    apple     curse
row_2  arsenic   cassava
row_3    angel    cuckoo
row_4  android  clarinet

In [13]:
print(df.A)

row_0      alpha
row_1      apple
row_2    arsenic
row_3      angel
row_4    android
Name: A, dtype: object

In [ ]:
print(df)
print()

print(df.loc['row_1':'row_3', ['B', 'D']])   #df.loc[] kna specify letak index name bukan index number

             A  B         C   D
row_0    alpha  1   coconut   6
row_1    apple  2     curse   7
row_2  arsenic  3   cassava   8
row_3    angel  4    cuckoo   9
row_4  android  5  clarinet  10

       B  D
row_1  2  7
row_2  3  8
row_3  4  9

In [ ]:
print(df.iloc[1:4, [1,3]])   #df.iloc[] lebih friendly sbb kita kna letak index number bukan index name

       B  D
row_1  2  7
row_2  3  8
row_3  4  9

In [16]:
print(df.loc['row_0':'row_2', ['A','C']])

             A        C
row_0    alpha  coconut
row_1    apple    curse
row_2  arsenic  cassava

In [17]:
print(df.iloc[[2, 4], 0:3])

             A  B         C
row_2  arsenic  3   cassava
row_4  android  5  clarinet

In [ ]:
print(df.loc[0:3, ['D']])    #ERROR

In [18]:
# This is most convenient for VIEWING: 
print(df.iloc[0:3][['D']])

# But this is best practice/more stable for assignment/manipulation:
print(df.loc[df.index[0:3], 'D'])

       D
row_0  6
row_1  7
row_2  8
row_0    6
row_1    7
row_2    8
Name: D, dtype: int64

In [20]:
df = pd.DataFrame({
   'A': ['alpha', 'apple', 'arsenic', 'angel', 'android'],
   'B': [1, 2, 3, 4, 5],
   'C': ['coconut', 'curse', 'cassava', 'cuckoo', 'clarinet'],
   'D': [6, 7, 8, 9, 10]
   },
   )
df

         A  B         C   D
0    alpha  1   coconut   6
1    apple  2     curse   7
2  arsenic  3   cassava   8
3    angel  4    cuckoo   9
4  android  5  clarinet  10

In [21]:
print(df.loc[0:3, ['D']])

   D
0  6
1  7
2  8
3  9