In [ ]:
#Import dataset
#run method that we learnt value count, unique on species column
#Create a new df object, without species column

In [1]:
import pandas as pd

In [2]:
df3 = pd.read_csv('iris.csv')
df3

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
print(df3.value_counts())
print(df3['petal_length'].unique())

sepal_length  sepal_width  petal_length  petal_width  species
4.9           3.1          1.5           0.1          setosa       3
5.8           2.7          5.1           1.9          virginica    2
4.3           3.0          1.1           0.1          setosa       1
4.4           3.2          1.3           0.2          setosa       1
4.5           2.3          1.3           0.3          setosa       1
                                                                  ..
7.7           2.6          6.9           2.3          virginica    1
              2.8          6.7           2.0          virginica    1
              3.0          6.1           2.3          virginica    1
              3.8          6.7           2.2          virginica    1
7.9           3.8          6.4           2.0          virginica    1
Name: count, Length: 147, dtype: int64
[1.4 1.3 1.5 1.7 1.6 1.1 1.2 1.  1.9 4.7 4.5 4.9 4.  4.6 3.3 3.9 3.5 4.2
 3.6 4.4 4.1 4.8 4.3 5.  3.8 3.7 5.1 3.  6.  5.9 5.6 5.8 6.6 6.3 6.1 5.3
 5.5 6.7 6.9 5.7 6.4 5.4 5.2]

In [ ]:
df3['iris_without_species'] =pd.Series([1.3,4.2,3.3])

In [ ]:
new_iris = df3.drop('species', axis=1)
new_iris

,sepal_length,sepal_width,petal_length,petal_width,iris_without_species
0,5.1,3.5,1.4,0.2,1.3
1,4.9,3.0,1.4,0.2,4.2
2,4.7,3.2,1.3,0.2,3.3
3,4.6,3.1,1.5,0.2,NaN
4,5.0,3.6,1.4,0.2,NaN
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,NaN
146,6.3,2.5,5.0,1.9,NaN
147,6.5,3.0,5.2,2.0,NaN
148,6.2,3.4,5.4,2.3,NaN
149,5.9,3.0,5.1,1.8,NaN

In [ ]:
new_iris.head()

   sepal_length  sepal_width  petal_length  petal_width  iris_without_species
0           5.1          3.5           1.4          0.2                   1.3
1           4.9          3.0           1.4          0.2                   4.2
2           4.7          3.2           1.3          0.2                   3.3
3           4.6          3.1           1.5          0.2                   NaN
4           5.0          3.6           1.4          0.2                   NaN

In [ ]:
new_iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,iris_without_species
145,6.7,3.0,5.2,2.3,NaN
146,6.3,2.5,5.0,1.9,NaN
147,6.5,3.0,5.2,2.0,NaN
148,6.2,3.4,5.4,2.3,NaN
149,5.9,3.0,5.1,1.8,NaN

In [ ]:
new_iris_del = new_iris.drop(["sepal_length",'sepal_width','petal_length','petal_width'],axis=1)
new_iris_del

     iris_without_species
0                     1.3
1                     4.2
2                     3.3
3                     NaN
4                     NaN
..                    ...
145                   NaN
146                   NaN
147                   NaN
148                   NaN
149                   NaN

[150 rows x 1 columns]

In [ ]:
print(type(new_iris_del))   ### type jdi (output) sbb single table ja .. dia x jdi byk table .. klau byk table jdi output lain

<class 'pandas.core.frame.DataFrame'>

In [ ]:
new_iris = df3.drop('species', axis=1)
new_iris

,sepal_length,sepal_width,petal_length,petal_width,iris_without_species
0,5.1,3.5,1.4,0.2,1.3
1,4.9,3.0,1.4,0.2,4.2
2,4.7,3.2,1.3,0.2,3.3
3,4.6,3.1,1.5,0.2,NaN
4,5.0,3.6,1.4,0.2,NaN
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,NaN
146,6.3,2.5,5.0,1.9,NaN
147,6.5,3.0,5.2,2.0,NaN
148,6.2,3.4,5.4,2.3,NaN
149,5.9,3.0,5.1,1.8,NaN

In [ ]:
#calculated area
sepalarea = new_iris[['sepal_length','sepal_width']]
sepalarea.head()

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [ ]:
sepalarea = new_iris['sepal_length']
sepalarea.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [3]:
df3

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
petalarea = df3['petal_length'] * df3['petal_width']   #boleh kira untuk mna2 column
petalarea.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [5]:
sepalarea = df3['sepal_length'] * df3['sepal_width']   #boleh kira untuk mna2 column
sepalarea.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [6]:
df3['sepal_area'] = sepalarea
df3.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_area
0           5.1          3.5           1.4          0.2  setosa       17.85
1           4.9          3.0           1.4          0.2  setosa       14.70
2           4.7          3.2           1.3          0.2  setosa       15.04
3           4.6          3.1           1.5          0.2  setosa       14.26
4           5.0          3.6           1.4          0.2  setosa       18.00

In [8]:
df3['petal_area'] = petalarea
df3.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,setosa,17.85,0.28
1,4.9,3.0,1.4,0.2,setosa,14.70,0.28
2,4.7,3.2,1.3,0.2,setosa,15.04,0.26
3,4.6,3.1,1.5,0.2,setosa,14.26,0.30
4,5.0,3.6,1.4,0.2,setosa,18.00,0.28

In [ ]:
new_table = new_iris.drop('iris_without_species',axis=1)
new_table.head(50)

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
8,4.4,2.9,1.4,0.2,12.76,0.28
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
12,4.8,3.0,1.4,0.1,14.40,0.14
13,4.3,3.0,1.1,0.1,12.90,0.11
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
17,5.1,3.5,1.4,0.3,17.85,0.42
18,5.7,3.8,1.7,0.3,21.66,0.51
19,5.1,3.8,1.5,0.3,19.38,0.45
20,5.4,3.4,1.7,0.2,18.36,0.34
21,5.1,3.7,1.5,0.4,18.87,0.60
22,4.6,3.6,1.0,0.2,16.56,0.20
23,5.1,3.3,1.7,0.5,16.83,0.85
24,4.8,3.4,1.9,0.2,16.32,0.38
25,5.0,3.0,1.6,0.2,15.00,0.32
26,5.0,3.4,1.6,0.4,17.00,0.64
27,5.2,3.5,1.5,0.2,18.20,0.30
28,5.2,3.4,1.4,0.2,17.68,0.28
29,4.7,3.2,1.6,0.2,15.04,0.32
30,4.8,3.1,1.6,0.2,14.88,0.32
31,5.4,3.4,1.5,0.4,18.36,0.60
32,5.2,4.1,1.5,0.1,21.32,0.15
33,5.5,4.2,1.4,0.2,23.10,0.28
34,4.9,3.1,1.5,0.1,15.19,0.15
35,5.0,3.2,1.2,0.2,16.00,0.24
36,5.5,3.5,1.3,0.2,19.25,0.26
37,4.9,3.1,1.5,0.1,15.19,0.15
38,4.4,3.0,1.3,0.2,13.20,0.26
39,5.1,3.4,1.5,0.2,17.34,0.30
40,5.0,3.5,1.3,0.3,17.50,0.39
41,4.5,2.3,1.3,0.3,10.35,0.39
42,4.4,3.2,1.3,0.2,14.08,0.26
43,5.0,3.5,1.6,0.6,17.50,0.96
44,5.1,3.8,1.9,0.4,19.38,0.76
45,4.8,3.0,1.4,0.3,14.40,0.42
46,5.1,3.8,1.6,0.2,19.38,0.32
47,4.6,3.2,1.4,0.2,14.72,0.28
48,5.3,3.7,1.5,0.2,19.61,0.30
49,5.0,3.3,1.4,0.2,16.50,0.28

In [ ]:
#filter out parts of dataframe using pandas
# Q1 : only part of new_table value of sepal_area is > 14

largeflowers = new_table[new_table['sepal_area'] > 15]
largeflowers.head(10)

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
14,5.8,4.0,1.2,0.2,23.20,0.24

In [ ]:
## How many large flowers we have in new_table dataset
#how many flowers have a  sepal area of exactly in

largeflowers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  120 non-null    float64
 1   sepal_width   120 non-null    float64
 2   petal_length  120 non-null    float64
 3   petal_width   120 non-null    float64
 4   sepal_area    120 non-null    float64
 5   petal_area    120 non-null    float64
dtypes: float64(6)
memory usage: 6.6 KB

In [ ]:
largeflowers2 = new_table[new_table['sepal_area'] > 16]
largeflowers2.head(10)

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
7,5.0,3.4,1.5,0.2,17.00,0.30
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
17,5.1,3.5,1.4,0.3,17.85,0.42

In [ ]:
largeflowers2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  101 non-null    float64
 1   sepal_width   101 non-null    float64
 2   petal_length  101 non-null    float64
 3   petal_width   101 non-null    float64
 4   sepal_area    101 non-null    float64
 5   petal_area    101 non-null    float64
dtypes: float64(6)
memory usage: 5.5 KB

In [ ]:
# sorting values by something
sortedtargetflowers = largeflowers2.sort_values(by='sepal_area',ascending=False)
largestflowers = sortedtargetflowers
largestflowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,12.80
117,7.7,3.8,6.7,2.2,29.26,14.74
109,7.2,3.6,6.1,2.5,25.92,15.25
15,5.7,4.4,1.5,0.4,25.08,0.60
14,5.8,4.0,1.2,0.2,23.20,0.24
...,...,...,...,...,...,...
24,4.8,3.4,1.9,0.2,16.32,0.38
64,5.6,2.9,3.6,1.3,16.24,4.68
114,5.8,2.8,5.1,2.4,16.24,12.24
83,6.0,2.7,5.1,1.6,16.20,8.16
84,5.4,3.0,4.5,1.5,16.20,6.75

In [9]:
df3.to_csv('Flowers_Visualization.csv',index=False)

In [ ]:
largeflowers.to_csv('largeflowers.csv',index= False)

:

In [ ]:
arealargestflowers = largestflowers['sepal_area'].max()
arealargestflowers

np.float64(30.02)

In [ ]:
arealargestflowers = largestflowers['sepal_area'].min()
arealargestflowers

np.float64(16.200000000000003)

In [ ]:
arealargestflowers = largestflowers['sepal_area']
arealargestflowers

131    30.02
Name: sepal_area, dtype: float64

In [ ]:
type(largestflowers)

pandas.core.series.Series